
.loginContainer{
    width: 35vw;
    height: 70vh;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem var(--box-shadow);
    background-color: var(--background-segundario);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.loginTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: var(--tamanho-fonte-h2);
}

.loginTitleText{
    font-weight: 600;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
